<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>이름</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td><a href="category/{categoryId}/edit">수정</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
